# Association Rules on MovieLens 1M
This notebook provides code to mine association rules on MovieLens 1M.  
I select only good ratings (>3.0) and apply fp-growth algorithms (implemented by [PySpark](https://spark.apache.org/docs/latest/ml-frequent-pattern-mining.html#fp-growth)).  
The dataset is downloaded from https://grouplens.org/datasets/movielens/, extracted and copied to the directory `/opt/spark/data`.

The association rules is shown bellow.

## Import libraries and initialize Spark context

In [1]:
import pyspark
import os
import socket

In [2]:
os.environ['PYSPARK_PYTHON'] = 'python3'
driver_host = socket.gethostbyname(socket.gethostname())

In [3]:
conf = pyspark.SparkConf()

conf.setMaster("k8s://https://kubernetes.default.svc.cluster.local:443") 

conf.set("spark.kubernetes.container.image", "gcr.io/spark-operator/spark-py:v2.4.5") 
conf.set("spark.kubernetes.authenticate.caCertFile", "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt")
conf.set("spark.kubernetes.authenticate.oauthTokenFile", "/var/run/secrets/kubernetes.io/serviceaccount/token")
conf.set("spark.kubernetes.authenticate.driver.serviceAccountName", "spark") 
conf.set("spark.executor.instances", "2")
conf.set("spark.executor.memory", "1g")
conf.set("spark.kubernetes.pyspark.pythonVersion", "3")
conf.set("spark.driver.host", driver_host)
conf.set("spark.driver.port", "29413")

In [4]:
spark = pyspark.sql.SparkSession.builder.config(conf=conf).getOrCreate()

In [5]:
from pyspark.ml.fpm import FPGrowth
from pyspark.sql import functions as F
from pyspark.sql import Row

## Prepare dataset

In [6]:
# Load rating data.
lines = spark.read.text("/opt/spark/data/ratings.dat").rdd
parts = lines.map(lambda row: row.value.split("::"))
ratingsRDD = parts.map(lambda p: Row(userId=int(p[0]), movieId=int(p[1]),
                                     rating=float(p[2]), timestamp=int(p[3])))
ratings = spark.createDataFrame(ratingsRDD)

In [7]:
ratings.show(10)

+-------+------+---------+------+
|movieId|rating|timestamp|userId|
+-------+------+---------+------+
|   1193|   5.0|978300760|     1|
|    661|   3.0|978302109|     1|
|    914|   3.0|978301968|     1|
|   3408|   4.0|978300275|     1|
|   2355|   5.0|978824291|     1|
|   1197|   3.0|978302268|     1|
|   1287|   5.0|978302039|     1|
|   2804|   5.0|978300719|     1|
|    594|   4.0|978302268|     1|
|    919|   4.0|978301368|     1|
+-------+------+---------+------+
only showing top 10 rows

In [8]:
ratings.count()

1000209

In [9]:
# Select good rating and split the dataset.
ratings = ratings.filter(ratings.rating > 3.0)
(training, test) = ratings.randomSplit([0.8, 0.2])

In [10]:
ratings.count()

575281

In [11]:
# Group movies according to users
movies_rating = training.groupBy('userId').agg(F.collect_set('movieId').alias('movieIds'))

In [12]:
movies_rating.show(10)

+------+--------------------+
|userId|            movieIds|
+------+--------------------+
|    26|[356, 3152, 1678,...|
|    29|[610, 589, 1220, ...|
|   474|[466, 741, 785, 3...|
|   964|[1148, 356, 589, ...|
|  1677|[3005, 3615, 2882...|
|  1697|[2086, 1680, 3421...|
|  1806|[508, 356, 3450, ...|
|  1950|[2571, 589, 1199,...|
|  2040|[356, 2599, 1678,...|
|  2214|[356, 3101, 1191,...|
+------+--------------------+
only showing top 10 rows

In [13]:
movies_rating.count()

6038

## Fit a FP-Growth model

In [22]:
# Define FP-Growth model
fpGrowth = FPGrowth(itemsCol="movieIds", minSupport=0.05, minConfidence=0.5)

In [23]:
# Fit the model
model = fpGrowth.fit(movies_rating)

In [24]:
# Display frequent itemsets.
model.freqItemsets.show()

# Display generated association rules.
model.associationRules.show()

+-----------------+----+
|            items|freq|
+-----------------+----+
|           [1246]| 517|
|           [2951]| 332|
|           [2858]|2262|
|            [260]|2115|
|      [260, 2858]| 850|
|           [2081]| 517|
|           [3360]| 332|
|           [1196]|2001|
|      [1196, 260]|1271|
|[1196, 260, 2858]| 538|
|     [1196, 2858]| 842|
|           [2908]| 517|
|     [2908, 2858]| 318|
|           [3082]| 330|
|           [2140]| 330|
|            [593]|1840|
|      [593, 1196]| 802|
| [593, 1196, 260]| 514|
|[593, 1196, 2858]| 437|
|       [593, 260]| 793|
+-----------------+----+
only showing top 20 rows

+-----------------+----------+------------------+------------------+
|       antecedent|consequent|        confidence|              lift|
+-----------------+----------+------------------+------------------+
|       [110, 858]|    [1221]|0.6028119507908611|  3.07933888229714|
|       [110, 858]|    [1196]|0.6467486818980668|1.9515584914045614|
|       [110, 858]|    [1198]|0.5992970123022847|1.9893102585383151|
|       [110, 858]|    [2028]|0.6256590509666081| 2.068855065573045|
|       [110, 858]|     [260]|0.6520210896309314|1.8614200185302903|
|      [593, 2858]|     [318]|0.5572519083969466|2.0718516150866773|
|      [593, 2858]|     [296]|  0.52453653217012|2.2163412045088764|
|      [593, 2858]|    [2028]|0.5005452562704471|1.6551436239654762|
|      [593, 2858]|     [608]|0.5376226826608506|1.9733530443198881|
|      [527, 1196]|     [260]|0.6422651933701657|1.8335684338387994|
|      [527, 1196]|    [2858]|0.5041436464088398|1.3457203081417217|
|      [527, 1196]|    [1198]|  0.56353591160221|  1.87060463675324|
|      [527, 1196]|    [2028]|0.5704419889502762| 1.886269840789577|
|      [527, 1196]|    [1210]|0.5414364640883977|1.9367259301929773|
|      [527, 1196]|     [593]|0.5580110497237569|1.8311253903435025|
|      [527, 1196]|     [318]|0.5524861878453039|2.0541327599814934|
|      [527, 1196]|     [858]|0.5027624309392266|1.8589587005578996|
|     [2762, 2858]|     [593]|0.5190930787589498|1.7034152225796408|
|[1198, 593, 1196]|     [260]|0.7127192982456141|2.0347040769773135|
|            [733]|    [1580]|0.5095447870778267| 2.325496163549446|
+-----------------+----------+------------------+------------------+
only showing top 20 rows

In [25]:
model.associationRules.count()

4163

## Display association rules on the test set

In [26]:
# Group movies according to user
test_movies_rating = test.groupBy('userId').agg(F.collect_set('movieId').alias('movieIds'))

In [27]:
# Transform examines the input items against all the association rules and summarize the
# consequents as prediction
test_association_rules = model.transform(test_movies_rating)

In [28]:
test_association_rules.show()

+------+--------------------+--------------------+
|userId|            movieIds|          prediction|
+------+--------------------+--------------------+
|    26|[1917, 45, 168, 2...|[260, 318, 2028, ...|
|    29|[288, 1036, 1799,...|[1198, 1240, 1291...|
|   474|[661, 2391, 2, 48...|[589, 1196, 260, ...|
|   964|[2599, 223, 597, ...|   [2858, 1196, 260]|
|  1677|[2683, 2716, 2706...|   [1196, 260, 2858]|
|  1697|[110, 356, 2571, ...|[1196, 1198, 1240...|
|  1806|[590, 3247, 1396,...|[318, 2028, 527, ...|
|  1950|[661, 799, 2916, ...|[260, 1198, 2571,...|
|  2040|[3481, 2797, 2881...|[1196, 1270, 260,...|
|  2214|[509, 249, 785, 9...|[2858, 1196, 1198...|
|  2250|[3481, 589, 2959,...|[2858, 2997, 260,...|
|  2453|[1953, 3783, 866,...|[1580, 589, 1196,...|
|  2509|[527, 1200, 2332,...|[589, 1198, 1196,...|
|  2529|[3398, 3479, 1018...|[260, 2858, 1198,...|
|  2927|   [590, 1259, 2671]|[260, 1196, 1198,...|
|  3091|[3499, 541, 1035,...|[1196, 260, 2571,...|
|  3506|[1079, 589, 2599,...|[2997, 2858, 593,...|
|  3764|        [3006, 1221]|[1196, 260, 858, ...|
|  4590|[3499, 2396, 1290...|   [593, 2858, 2028]|
|  4823|[1272, 2594, 3683...|[1196, 608, 2858,...|
+------+--------------------+--------------------+
only showing top 20 rows

In [29]:
# Load movies data
lines = spark.read.text("/opt/spark/data/movies.dat").rdd
parts = lines.map(lambda row: row.value.split("::"))
moviesRDD = parts.map(lambda p: Row(MovieID=int(p[0]), Title=p[1], Genres=p[2]))
movies = spark.createDataFrame(moviesRDD)

In [32]:
movies.show(10, truncate=False)

+----------------------------+-------+----------------------------------+
|Genres                      |MovieID|Title                             |
+----------------------------+-------+----------------------------------+
|Animation|Children's|Comedy |1      |Toy Story (1995)                  |
|Adventure|Children's|Fantasy|2      |Jumanji (1995)                    |
|Comedy|Romance              |3      |Grumpier Old Men (1995)           |
|Comedy|Drama                |4      |Waiting to Exhale (1995)          |
|Comedy                      |5      |Father of the Bride Part II (1995)|
|Action|Crime|Thriller       |6      |Heat (1995)                       |
|Comedy|Romance              |7      |Sabrina (1995)                    |
|Adventure|Children's        |8      |Tom and Huck (1995)               |
|Action                      |9      |Sudden Death (1995)               |
|Action|Adventure|Thriller   |10     |GoldenEye (1995)                  |
+----------------------------+-------+----------------------------------+
only showing top 10 rows

In [33]:
user_id = 474

In [34]:
recommendation = test_association_rules.filter(test_association_rules['userId'] == user_id).collect()
recommendation

[Row(userId=474, movieIds=[661, 2391, 2, 482, 2791, 2987, 2428, 3272, 2329, 3266, 3948, 551, 1517, 3543, 2499, 3255, 1049, 3256, 1884, 1732, 593, 492, 3555, 1836, 3535, 333, 1351, 2571], prediction=[589, 1196, 260, 2858, 296, 1198, 2028, 2762, 608, 318, 50, 1610, 110, 457, 480])]

In [38]:
print('User {}: Preferable movies:'.format(user_id))
movies.filter(movies.MovieID.isin(recommendation[0]['movieIds'])).show(30, truncate=False)

User 474: Preferable movies:
+-----------------------------+-------+-----------------------------------------------------+
|Genres                       |MovieID|Title                                                |
+-----------------------------+-------+-----------------------------------------------------+
|Adventure|Children's|Fantasy |2      |Jumanji (1995)                                       |
|Comedy                       |333    |Tommy Boy (1995)                                     |
|Thriller                     |482    |Killing Zoe (1994)                                   |
|Comedy|Mystery               |492    |Manhattan Murder Mystery (1993)                      |
|Children's|Comedy|Musical    |551    |Nightmare Before Christmas, The (1993)               |
|Drama|Thriller               |593    |Silence of the Lambs, The (1991)                     |
|Animation|Children's|Musical |661    |James and the Giant Peach (1996)                     |
|Action|Adventure             |1049   |Ghost and the Darkness, The (1996)                   |
|Drama                        |1351   |Blood & Wine (1997)                                  |
|Comedy                       |1517   |Austin Powers: International Man of Mystery (1997)   |
|Comedy|Crime|Mystery|Thriller|1732   |Big Lebowski, The (1998)                             |
|Drama                        |1836   |Last Days of Disco, The (1998)                       |
|Comedy|Drama                 |1884   |Fear and Loathing in Las Vegas (1998)                |
|Drama                        |2329   |American History X (1998)                            |
|Crime|Thriller               |2391   |Simple Plan, A (1998)                                |
|Horror|Sci-Fi                |2428   |Faculty, The (1998)                                  |
|Comedy                       |2499   |God Said 'Ha!' (1998)                                |
|Action|Sci-Fi|Thriller       |2571   |Matrix, The (1999)                                   |
|Comedy                       |2791   |Airplane! (1980)                                     |
|Adventure|Animation|Film-Noir|2987   |Who Framed Roger Rabbit? (1988)                      |
|Comedy|Drama                 |3255   |League of Their Own, A (1992)                        |
|Action|Thriller              |3256   |Patriot Games (1992)                                 |
|Action|Comedy|Crime|Drama    |3266   |Man Bites Dog (C'est arriv� pr�s de chez vous) (1992)|
|Crime|Drama                  |3272   |Bad Lieutenant (1992)                                |
|Comedy|Horror|Thriller       |3535   |American Psycho (2000)                               |
|Comedy|Drama                 |3543   |Diner (1982)                                         |
|Action|Thriller              |3555   |U-571 (2000)                                         |
|Comedy                       |3948   |Meet the Parents (2000)                              |
+-----------------------------+-------+-----------------------------------------------------+

In [40]:
print('User {}: Recommendation movies:'.format(user_id))
movies.filter(movies.MovieID.isin(recommendation[0]['prediction'])).show(truncate=False)

User 474: Recommendation movies:
+---------------------------------+-------+-----------------------------------------------------+
|Genres                           |MovieID|Title                                                |
+---------------------------------+-------+-----------------------------------------------------+
|Crime|Thriller                   |50     |Usual Suspects, The (1995)                           |
|Action|Drama|War                 |110    |Braveheart (1995)                                    |
|Action|Adventure|Fantasy|Sci-Fi  |260    |Star Wars: Episode IV - A New Hope (1977)            |
|Crime|Drama                      |296    |Pulp Fiction (1994)                                  |
|Drama                            |318    |Shawshank Redemption, The (1994)                     |
|Action|Thriller                  |457    |Fugitive, The (1993)                                 |
|Action|Adventure|Sci-Fi          |480    |Jurassic Park (1993)                                 |
|Action|Sci-Fi|Thriller           |589    |Terminator 2: Judgment Day (1991)                    |
|Crime|Drama|Thriller             |608    |Fargo (1996)                                         |
|Action|Adventure|Drama|Sci-Fi|War|1196   |Star Wars: Episode V - The Empire Strikes Back (1980)|
|Action|Adventure                 |1198   |Raiders of the Lost Ark (1981)                       |
|Action|Thriller                  |1610   |Hunt for Red October, The (1990)                     |
|Action|Drama|War                 |2028   |Saving Private Ryan (1998)                           |
|Thriller                         |2762   |Sixth Sense, The (1999)                              |
|Comedy|Drama                     |2858   |American Beauty (1999)                               |
+---------------------------------+-------+-----------------------------------------------------+

In [41]:
user_id = 1806

In [42]:
recommendation = test_association_rules.filter(test_association_rules['userId'] == user_id).collect()
recommendation

[Row(userId=1806, movieIds=[590, 3247, 1396, 2006, 3624, 329, 2384, 3452, 1042, 2762, 2987, 2683, 150, 252, 448, 986, 500, 3745, 2709, 553, 2273, 168, 648, 1411, 344, 802, 671, 163, 317, 368, 2393, 1610, 1784, 3301, 515, 587, 3354, 3528, 457], prediction=[318, 2028, 527, 593, 589, 1196, 1198, 260, 2571, 2858, 480, 110])]

In [44]:
print('User {}: Preferable movies:'.format(user_id))
movies.filter(movies.MovieID.isin(recommendation[0]['movieIds'])).show(40, truncate=False)

User 1806: Preferable movies:
+------------------------------+-------+----------------------------------------------+
|Genres                        |MovieID|Title                                         |
+------------------------------+-------+----------------------------------------------+
|Drama                         |150    |Apollo 13 (1995)                              |
|Action|Romance|Thriller       |163    |Desperado (1995)                              |
|Action|Adventure|Drama|Romance|168    |First Knight (1995)                           |
|Comedy|Romance                |252    |I.Q. (1994)                                   |
|Children's|Comedy|Fantasy     |317    |Santa Clause, The (1994)                      |
|Action|Adventure|Sci-Fi       |329    |Star Trek: Generations (1994)                 |
|Comedy                        |344    |Ace Ventura: Pet Detective (1994)             |
|Action|Comedy|Western         |368    |Maverick (1994)                               |
|Drama                         |448    |Fearless (1993)                               |
|Action|Thriller               |457    |Fugitive, The (1993)                          |
|Comedy                        |500    |Mrs. Doubtfire (1993)                         |
|Drama                         |515    |Remains of the Day, The (1993)                |
|Western                       |553    |Tombstone (1993)                              |
|Comedy|Romance|Thriller       |587    |Ghost (1990)                                  |
|Adventure|Drama|Western       |590    |Dances with Wolves (1990)                     |
|Action|Adventure|Mystery      |648    |Mission: Impossible (1996)                    |
|Comedy|Sci-Fi                 |671    |Mystery Science Theater 3000: The Movie (1996)|
|Drama|Romance                 |802    |Phenomenon (1996)                             |
|Adventure|Children's          |986    |Fly Away Home (1996)                          |
|Comedy                        |1042   |That Thing You Do! (1996)                     |
|Crime|Drama|Sci-Fi            |1396   |Sneakers (1992)                               |
|Drama                         |1411   |Hamlet (1996)                                 |
|Action|Thriller               |1610   |Hunt for Red October, The (1990)              |
|Comedy|Drama                  |1784   |As Good As It Gets (1997)                     |
|Action|Adventure|Romance      |2006   |Mask of Zorro, The (1998)                     |
|Action|Thriller               |2273   |Rush Hour (1998)                              |
|Children's|Comedy             |2384   |Babe: Pig in the City (1998)                  |
|Action|Sci-Fi                 |2393   |Star Trek: Insurrection (1998)                |
|Comedy                        |2683   |Austin Powers: The Spy Who Shagged Me (1999)  |
|Children's|Comedy             |2709   |Muppets From Space (1999)                     |
|Thriller                      |2762   |Sixth Sense, The (1999)                       |
|Adventure|Animation|Film-Noir |2987   |Who Framed Roger Rabbit? (1988)               |
|Comedy|Crime                  |3247   |Sister Act (1992)                             |
|Comedy|Crime                  |3301   |Whole Nine Yards, The (2000)                  |
|Sci-Fi                        |3354   |Mission to Mars (2000)                        |
|Action|Romance                |3452   |Romeo Must Die (2000)                         |
|Drama|Romance                 |3528   |Prince of Tides, The (1991)                   |
|Action                        |3624   |Shanghai Noon (2000)                          |
|Adventure|Animation|Sci-Fi    |3745   |Titan A.E. (2000)                             |
+------------------------------+-------+----------------------------------------------+

In [45]:
print('User {}: Recommendation movies:'.format(user_id))
movies.filter(movies.MovieID.isin(recommendation[0]['prediction'])).show(truncate=False)

User 1806: Recommendation movies:
+---------------------------------+-------+-----------------------------------------------------+
|Genres                           |MovieID|Title                                                |
+---------------------------------+-------+-----------------------------------------------------+
|Action|Drama|War                 |110    |Braveheart (1995)                                    |
|Action|Adventure|Fantasy|Sci-Fi  |260    |Star Wars: Episode IV - A New Hope (1977)            |
|Drama                            |318    |Shawshank Redemption, The (1994)                     |
|Action|Adventure|Sci-Fi          |480    |Jurassic Park (1993)                                 |
|Drama|War                        |527    |Schindler's List (1993)                              |
|Action|Sci-Fi|Thriller           |589    |Terminator 2: Judgment Day (1991)                    |
|Drama|Thriller                   |593    |Silence of the Lambs, The (1991)                     |
|Action|Adventure|Drama|Sci-Fi|War|1196   |Star Wars: Episode V - The Empire Strikes Back (1980)|
|Action|Adventure                 |1198   |Raiders of the Lost Ark (1981)                       |
|Action|Drama|War                 |2028   |Saving Private Ryan (1998)                           |
|Action|Sci-Fi|Thriller           |2571   |Matrix, The (1999)                                   |
|Comedy|Drama                     |2858   |American Beauty (1999)                               |
+---------------------------------+-------+-----------------------------------------------------+